[user]
  name = Roger Ramos
  email = rogrp6@gmail.com

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
  tool = vimdiff

[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lga = !"git lg1 --all"
  lga2 = !"git lg2 --all"
  lg = !"git lg1"
  dog = log --all --decorate --oneline --graph
  pullh = !git pull origin \"$(git rev-parse --abbrev-ref HEAD)\"
  pushh = !git push origin \"$(git rev-parse --abbrev-ref HEAD)\"
